W6Y0XZ_0507/XMLSchemaW6Y0XZ_generaltatott.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LL_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targy"/>
              <xs:element name="idopont">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="paros_het"/>
                    <xs:element type="xs:string" name="nap"/>
                    <xs:element type="xs:string" name="tol"/>
                    <xs:element type="xs:string" name="ig"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="helyszin"/>
              <xs:element type="xs:string" name="oktato" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>